- scope = %w[emails password]

%p= t :hello, scope: scope, email: @resource.email
%p= t :someone_has_requested, scope: scope
%p= t :please_use, scope: scope, token: @token
-# You can do this through the link below.
-# %p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p= t :did_not_request, scope: scope
%p= t :your_password, scope: scope
